		table.menu
		{
			height: 25px;
			width: 100%;
			background-color: rgb(32, 176, 142);
			color: white;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}
		tbody.menu
		{
			width: 100%;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}
		tr.menu
		{
			width: 100%;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}
		td.menu
		{
			width: 25%;
		}
		tr
		{
			vertical-align: top;
		}
		a
		{
			text-decoration: none;
		}
		a.green
	    {
		    color: green;
			font-size: 24px;
			font-weight: 400;
		}
		a.red
		{
		    color: red;
			font-size: 24px;
			font-weight: 400;
		}
		a.green:visited 
		{
		    color: green;
			font-size: 24px;
			font-weight: 400;
		}
		a.red:visited;
		{
		    color: red;
			font-size: 24px;
			font-weight: 400;
		}
		h1, h2.menu
		{
			color: #20ff00;
			text-decoration: none;
		}
		h2.menu:hover
		{
			color: #d3ff00;
		}
		h2.n
		{
			color: #0010ff;
		}
		h2.l
		{
			color: #1cff09;
	 	}
		h2.v
		{
			color: #fff009;
		}
		h2.g
		{
			color: #9b09ff;
		}
		body
	    {
			background-color: black;
		}
		p.n
		{
			color: #00c3ff;
		}
		p.l
		{
			color: #8bff2c;
		}
		p.v
		{
			color: #f9ff37;
		}
		p.g
		{
			color: violet;
		}
		form
		{
			border: 3px solid green;
			text-align: center;
            margin-left: calc(23vw);
            margin-right: calc(23vw);
		}	
		footer
		{
			padding: 10px 10% 10px 10%;
			color: white;
		}
		div.social
		{
			background-color: white;
			width: 100px;
			padding: 0 0 0 0;
			margin: 0 0 0 0;
			height: 30px;
		}
		label
		{
			color: white;
		}
		header
	    {
    		display: flex;
    		justify-content: space-evenly;
		}