		table.menu
		{
			height: 25px;
			width: 100%;
			background-color: rgb(32, 176, 142);
			color: white;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}
		tbody.menu
		{
			width: 100%;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}
		tr.menu
		{
			width: 100%;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}
		td.menu
		{
			width: 25%;
		}
		tr
		{
			vertical-align: top;
		}
		a
		{
			text-decoration: none;
		}
		a.green
	    {
		    color: green;
			font-size: 24px;
			font-weight: 400;
		}
		a.red
		{
		    color: red;
			font-size: 24px;
			font-weight: 400;
		}
		a.green:visited 
		{
		    color: green;
			font-size: 24px;
			font-weight: 400;
		}
		a.red:visited;
		{
		    color: red;
			font-size: 24px;
			font-weight: 400;
		}
		h1, h2.menu
		{
			color: #20ff00;
			text-decoration: none;
		}
		h2.menu:hover
		{
			color: #d3ff00;
		}
		h2.n
		{
			color: #0010ff;
		}
		h2.l
		{
			color: #1cff09;
	 	}
		h2.v
		{
			color: #fff009;
		}
		h2.g
		{
			color: #9b09ff;
		}
		body
	    {
			background-color: black;
		}
		p.n
		{
			color: #00c3ff;
		}
		p.l
		{
			color: #8bff2c;
		}
		p.v
		{
			color: #f9ff37;
		}
		p.g
		{
			color: violet;
		}
		form
		{
			border: 3px solid green;
			text-align: center;
            margin-left: calc(23vw);
            margin-right: calc(23vw);
		}	
		footer
		{
			padding: 10px 10% 10px 10%;
			color: white;
		}
		div.social
		{
			background-color: white;
			width: 100px;
			padding: 0 0 0 0;
			margin: 0 0 0 0;
			height: 30px;
		}
		label
		{
			color: white;
		}
		header
	    {
    		display: flex;
    		justify-content: space-evenly;
		}
		#grid
		{
			min-height: 500px;
			display:grid;
			grid-template-areas: 
			'one one one three three'
			'one one one four four'
			'two two two four four'
			'two two two five five';
			grid-gap: 5px;
		}
		#g1 {grid-area: one;}
		#g2 {grid-area: two;}
		#g3 {grid-area: three;}
		#g4 {grid-area: four;}
		#g5 {grid-area: five;}
		input:focus
		{
			background-color: black;
		}
		button
	    {
	    	position: absolute;
	    	z-index: 3;
	    	background-color: #4a9c91;
	    	width: 340px;
	    	height: 60px;
	    	border-radius: 8px;
	    	border: outset 3px;
	    	left: 240px;
	    	top: 480px;
	    	font-size: 28px;
	    	font-family: Cambria;
	    }
	    button:hover
	    {
	    	transform: translate( 850px);
	    }
	    #poster
	    {
	    	background-color: grey;
	    	animation: poster 10s ease-in-out infinite;

	    }
	    #poster:hover;
	    {

	    }
	    .cut1
        {
        	position: absolute;
	    	z-index: 2;
	    	top: 165px;
	    	left: 685px;
	    	transform: scale(1.2);
	    }
	    .cut2
        {
        	position: absolute;
	    	z-index: 2;
	    	top: 120px;
	    	left: 175px;
	    	transform: scale(1.2);
	    }
	    .cut1:hover
	    {
	    	transform: scale(2);
	    }
	    .cut2:hover
        {
        	transform: scale(2);
        }
        audio
        {
        	position: relative;
        	left: 0;
        	transition: left 0.2s;
        }
        audio:hover
        {
        	left: 15px;
        }
